.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  overflow: hidden;
}

.linkShortenerSection {
  background: $darkViolet;
  width: 90vw;

  margin: 60px 0;

  border-radius: 10px;
}

.linkShortenerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px 30px;

  input {
    margin-bottom: 15px;
    padding-left: 15px;
    font-size: 0.9rem;
  }

  button {
    background: $cyan;

    color: white;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .disabled {
    cursor: not-allowed;
  }

  input,
  button {
    width: 100%;
    height: 40px;

    border-radius: 5px;
  }

  span {
    position: relative;
    top: -25px;
    left: -70px;

    color: $red;
    font-size: 0.8rem;
  }
}

.illustrationWorking {
  position: relative;

  top: 20px;
  left: 90px;
  width: 135%;

  margin-bottom: 70px;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: $veryDarkBlue;
    font-size: 2.3rem;
    line-height: 40px;
    text-align: center;
  }

  p {
    margin: 15px 50px;

    text-align: center;
    color: $grayishViolet;
  }
}

.getStarted {
  margin: 15px 0;

  width: 45%;
  height: 50px;

  background: $cyan;
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: 800;

  border-radius: 50px;
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  bottom: 130px;

  padding-top: 150px;

  background: $gray;

  z-index: -1;

  h3 {
    font-size: 1.7rem;
    color: $veryDarkBlue;
    text-align: center;
  }

  p {
    margin: 15px 50px;

    text-align: center;
    color: $grayishViolet;
  }
}

.statisticsCards {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 25px;
  margin-top: 50px;

  border-radius: 10px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 22px 0;

    background: white;

    h4 {
      font-size: 1.4rem;

      margin-top: -70px;
    }

    p {
      margin: 0 20px;
      margin-bottom: 30px;
      margin-top: 20px;
    }
  }

  .verticalLine {
    position: relative;

    bottom: 21px;

    width: 5px;
    height: 40px;

    margin: 0;

    background: $cyan;
  }

  .iconCircle {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    bottom: 65px;

    padding: 15px;

    background: $darkViolet;
    border-radius: 100%;

    img {
      width: 28px;
    }
  }
}
