.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  overflow: hidden;
}

.linkShortenerSection {
  margin: 0 auto;
  position: relative;

  width: 90vw;

  margin-top: 60px;

  background: url("../images/bg-shorten-mobile.svg"), $darkViolet;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70px -75px;

  border-radius: 10px;

  z-index: 999;
}

.linkShortenerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px 30px;

  input {
    margin-bottom: 15px;
    padding-left: 15px;
    font-size: 0.9rem;
  }

  button {
    background: $cyan;

    color: white;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .disabled {
    cursor: not-allowed;
  }

  input,
  button {
    width: 100%;
    height: 40px;

    border-radius: 5px;
  }

  span {
    position: relative;
    top: -10px;
    left: -70px;

    color: $red;
    font-size: 0.8rem;
  }
}

.illustrationWorking {
  position: relative;

  top: 20px;
  left: 25px;
  width: 135%;

  margin-bottom: 70px;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: $veryDarkBlue;
    font-size: 2.3rem;
    line-height: 40px;
    text-align: center;
  }

  p {
    margin: 15px 50px;

    text-align: center;
    color: $grayishViolet;
  }
}

.getStarted {
  margin: 15px 0;

  width: 45%;
  height: 50px;

  background: $cyan;
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: 800;

  border-radius: 50px;
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 150px;
  padding-bottom: 70px;
  margin-top: -65px;

  background: $gray;

  h3 {
    font-size: 1.7rem;
    color: $veryDarkBlue;
    text-align: center;
  }

  p {
    margin: 60px 50px;
    margin-top: 15px;

    text-align: center;
    color: $grayishViolet;
  }
}

.statisticsCards {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 25px;
  margin-top: 50px;

  border-radius: 10px;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: -10px;

    background: white;

    border-radius: 8px;

    h4 {
      font-size: 1.4rem;
    }

    p {
      margin: 0 20px;
      margin-bottom: 30px;
      margin-top: 20px;
    }
  }

  .verticalLine {
    position: relative;

    bottom: 21px;

    width: 5px;
    height: 40px;

    margin-top: 21px;
    margin-bottom: 18px;

    background: $cyan;
  }

  .iconCircle {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    bottom: 30px;

    padding: 15px;

    background: $darkViolet;
    border-radius: 100%;

    img {
      width: 28px;
    }
  }
}

.boostYourLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 300px;

  background: url("../images/bg-boost-mobile.svg"), $darkViolet;
  background-repeat: no-repeat;
  background-size: cover;

  h3 {
    font-size: 1.7rem;

    color: white;
  }

  .getStarted {
    max-width: 250px;
  }
}

.shortenedLinks {
  display: flex;
  flex-direction: column;

  position: relative;
  bottom: 70px;

  margin: 0 -40px;
  padding: 0 40px;

  margin-bottom: -5px;
  padding-top: 100px;

  background: $gray;
}

.shortLinksMap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;

  position: relative;

  height: 170px;
  padding: 15px;

  margin: 15px 0;

  background: white;
  border-radius: 5px;

  h4 {
    color: $veryDarkBlue;
    font-size: 1rem;
    font-weight: 500;
  }

  .horizontalLine {
    width: 107.5%;
    height: 2px;
    margin-left: -15px;
  }

  h3 {
    color: $cyan;
    font-size: 1.2rem;
    font-weight: 600;
  }

  button {
    align-self: center;

    width: 90%;
    height: 35px;

    margin-top: 5px;

    color: white;
    font-weight: 700;
    font-size: 1rem;

    background: $cyan;
    border-radius: 5px;
  }

  .copied {
    background: $darkViolet;
  }
}
