.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.linkShortenerSection {
  position: relative;
  width: 90vw;
  margin-top: 60px;
  background: url("../images/bg-shorten-mobile.svg"), #3b3054;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70px -75px;
  border-radius: 10px;
  z-index: 999;
}

.linkShortenerForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 30px;
}

.linkShortenerForm input {
  margin-bottom: 15px;
  padding-left: 15px;
  font-size: 0.9rem;
}

.linkShortenerForm button {
  background: #2acfcf;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}

.linkShortenerForm .disabled {
  cursor: not-allowed;
}

.linkShortenerForm input,
.linkShortenerForm button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.linkShortenerForm span {
  position: relative;
  top: -10px;
  left: -70px;
  color: #f46262;
  font-size: 0.8rem;
}

.illustrationWorking {
  position: relative;
  top: 20px;
  left: 25px;
  width: 135%;
  margin-bottom: 70px;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation h2 {
  color: #35323e;
  font-size: 2.3rem;
  line-height: 40px;
  text-align: center;
}

.presentation p {
  margin: 15px 50px;
  text-align: center;
  color: #9e9aa7;
}

.getStarted {
  margin: 15px 0;
  width: 45%;
  height: 50px;
  background: #2acfcf;
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: 800;
  border-radius: 50px;
}

.statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 150px;
  padding-bottom: 70px;
  margin-top: -65px;
  background: rgba(191, 191, 191, 0.3);
}

.statistics h3 {
  font-size: 1.7rem;
  color: #35323e;
  text-align: center;
}

.statistics p {
  margin: 60px 50px;
  margin-top: 15px;
  text-align: center;
  color: #9e9aa7;
}

.statisticsCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 25px;
  margin-top: 50px;
  border-radius: 10px;
}

.statisticsCards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -10px;
  background: white;
  border-radius: 8px;
}

.statisticsCards .card h4 {
  font-size: 1.4rem;
}

.statisticsCards .card p {
  margin: 0 20px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.statisticsCards .verticalLine {
  position: relative;
  bottom: 21px;
  width: 5px;
  height: 40px;
  margin-top: 21px;
  margin-bottom: 18px;
  background: #2acfcf;
}

.statisticsCards .iconCircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  bottom: 30px;
  padding: 15px;
  background: #3b3054;
  border-radius: 100%;
}

.statisticsCards .iconCircle img {
  width: 28px;
}

.boostYourLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 300px;
  background: url("../images/bg-boost-mobile.svg"), #3b3054;
  background-repeat: no-repeat;
  background-size: cover;
}

.boostYourLink h3 {
  font-size: 1.7rem;
  color: white;
}

.shortenedLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  bottom: 70px;
  margin: 0 -40px;
  padding: 0 40px;
  margin-bottom: -5px;
  padding-top: 100px;
  background: rgba(191, 191, 191, 0.3);
}

.shortLinksMap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  height: 170px;
  padding: 15px;
  margin: 15px 0;
  background: white;
  border-radius: 5px;
}

.shortLinksMap h4 {
  color: #35323e;
  font-size: 1rem;
  font-weight: 500;
}

.shortLinksMap .horizontalLine {
  width: 107.5%;
  height: 2px;
  margin-left: -15px;
}

.shortLinksMap h3 {
  color: #2acfcf;
  font-size: 1.2rem;
  font-weight: 600;
}

.shortLinksMap button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 90%;
  height: 35px;
  margin-top: 5px;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  background: #2acfcf;
  border-radius: 5px;
}

.shortLinksMap .copied {
  background: #3b3054;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
}

header nav {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: 400px;
  top: 75px;
  left: 5%;
  background: #3b3054;
  border-radius: 10px;
  z-index: 1000;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

header nav li {
  list-style: none;
  font-size: 1.2rem;
  color: white;
  font-weight: 700;
}

header nav .getStarted {
  width: 80%;
}

.horizontalLine {
  height: 1px;
  width: 80%;
  margin: 8px 0;
  background: rgba(191, 191, 191, 0.3);
}

.menuIcon {
  font-size: 1.8rem;
}

.showMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
  background: #232127;
  color: white;
}

footer .logo {
  -webkit-filter: brightness(10);
          filter: brightness(10);
  margin-bottom: 40px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer li {
  list-style: none;
  margin-bottom: 8px;
  font-size: 0.9rem;
  font-weight: 200;
}

footer .liTitle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1.2rem;
}

footer .socialIcons {
  margin-top: 40px;
}

footer .socialIcons img {
  margin: 0 12px;
}

@media screen and (min-width: 768px) {
  header nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    height: 50px;
    top: 0px;
    left: 0;
    background: none;
    border-radius: 10px;
    z-index: 1000;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }
  header nav li {
    list-style: none;
    font-size: 1rem;
    color: #3b3054;
    font-weight: 500;
  }
  header nav .getStarted {
    width: 120px;
  }
  header .menuIcon {
    display: none;
  }
  .horizontalLine {
    height: 1px;
    width: 150px;
    margin: 8px 0;
    background: none;
  }
  .illustrationAndPresentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 30px;
    padding-top: 20px;
  }
  .illustrationWorking {
    position: relative;
    top: 0px;
    left: 150px;
    width: 65%;
    margin-bottom: 20px;
  }
  .presentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: 300px;
    height: 100%;
    position: relative;
    left: 20px;
    margin-bottom: 20px;
  }
  .presentation h2 {
    color: #35323e;
    font-size: 3rem;
    line-height: 40px;
    text-align: start;
    width: 400px;
  }
  .presentation p {
    margin: 5px 0px;
    width: 400px;
    text-align: start;
    color: #9e9aa7;
  }
  .presentation .getStarted {
    width: 180px;
  }
  .linkShortenerSection {
    max-width: 800px;
    background: url("../images/bg-shorten-desktop.svg"), #3b3054;
    background-size: cover;
    background-position: 0px 0px;
    border-radius: 5px;
  }
  .linkShortenerForm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 30px 30px;
  }
  .linkShortenerForm input {
    margin-bottom: 0px;
  }
  .linkShortenerForm button {
    width: 30%;
    margin-left: 20px;
  }
  .linkShortenerForm span {
    position: absolute;
    top: 75px;
    left: 31px;
    width: 300px;
  }
  .shortenedLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    bottom: 70px;
    margin: 0 -40px;
    padding: 0 40px;
    margin-bottom: -5px;
    padding-top: 100px;
    background: rgba(191, 191, 191, 0.3);
  }
  .shortLinksMap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    height: 60px;
    padding: 15px;
    margin: 5px 0;
    background: white;
    border-radius: 5px;
  }
  .shortLinksMap h4 {
    width: 50%;
  }
  .shortLinksMap .horizontalLine {
    display: none;
  }
  .shortLinksMap h3 {
    width: 20%;
  }
  .shortLinksMap button {
    width: 15%;
    margin-top: 0px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}
/*# sourceMappingURL=main.css.map */